<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Endless Drone</title></a>
  <link rel="stylesheet" href="//brick.freetls.fastly.net/Cormorant:700">
  <link rel="stylesheet" href="//brick.freetls.fastly.net/Vollkorn:400,500">
  <link rel="stylesheet" href="../css/style.css" 
</head>

<body>
  <header>
      <div class="header-title">
      <a href="/index.html"><h1>ENDLESS DRONE</h1></a>
      <p>A blog on the political economy and history of tech</p>
      </div>
      <div class="header-menu">
      <a href="/articles.html">Articles</a>
      <a href="/about.html">About this blog</a>
      <a href="/resources.html">Resources</a>
      </div>
  </header>
  <hr>
  <main>
    {{{body}}}
  </main>
  <hr>  
</body>

</html>
