<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Endless Drone</title>
  <link rel="stylesheet" href="//brick.freetls.fastly.net/Cormorant:700">
  <link rel="stylesheet" href="//brick.freetls.fastly.net/Vollkorn:400,500">
  <link rel="stylesheet" href="../css/style.css" </head>

<body>
  <header>
  <h1 class="layout-title">ENDLESS DRONE</h1>
  <h2 class="layout-subtitle">A blog on the political economy and history of tech</h2>
      <div class="layout-menu">
      <a href="articles.html">Articles</a>
      <a href="faq.html">FAQ</a>
      <a href="resources.html">Resources</a>
      </div>
  </header>
  <hr>
  {{#title}}<h2>{{.}}</h2>{{/title}}
  {{#description}}<p>{{.}}</p>{{/description}}
  <main>
    {{{body}}}
  </main>
  <hr>
</body>

</html>
