/* FONTS */

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 500;
  src: local('Vollkorn'),url(//brick.freetls.fastly.net/fonts/vollkorn/500.woff) format('woff');
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  src: local('Cormorant'),url(//brick.freetls.fastly.net/fonts/cormorant/700.woff) format('woff');
}

/* LINKS */

a {
  background-color: #7C44A7;
  color: #C8F7C5;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #7FFFD4;
}

a:hover {
  text-decoration: underline;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header a {
  border: solid;
  border-radius: 15rem 10rem;
}

.header-title {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}

.header-title a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 30%;
}

.header-title p {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 50%;
  margin: 0 auto;
  background-color: radial-gradient(#0B475E, #000);
  border: groove 2rem #3B0561;
  border-radius: 35% 35%;
  font-style: oblique;
  font-size: 2rem;
  padding: 2rem;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 10rem;
  height: 3rem;
}

/* HOMEPAGE BODY */

body {
  background-color: #0B475E;
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 500;
  color: #C8F7C5;
 }


main {
 display: flex;
 justify-content: center;
}

main .homepage-presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  line-height: 1.5;
  margin-right: 1rem;
}

article {
  text-align: left;
  padding: 2.25rem;
}

hr {
  height: 10px;
  background-color: #3B0561;
  width: 90%;
  margin: 1rem auto;
}


/* MAIN AND LIST OF ARTICLES LINKS */

main a, .list-articles a {
  margin: auto;
  padding: 0.5rem;
  border-radius: 15rem 10rem; 
}

/* BIBLIOGRAPHICAL REFERENCE CARD */

.reference-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #CBB1E2;
  max-width: 50%;
  padding: 2rem;
  border: solid;
  border-radius: 15rem 10rem;
  overflow: auto;
}

.reference-card img {
  max-height: 300px;
  max-width: 250px;
  object-fit: cover;
}

.reference-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem;
}
