@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 500;
  src: local('Vollkorn'),url(//brick.freetls.fastly.net/fonts/vollkorn/500.woff) format('woff');
}

@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  src: local('Cormorant'),url(//brick.freetls.fastly.net/fonts/cormorant/700.woff) format('woff');
}

a {
  background-color: #CBB1E2;
  color: #C8F7C5;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #7FFFD4;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: column;
}

header a {
  border: solid;
  border-radius: 15rem 10rem;

}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  text-align: center;
  }

.header-title {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}

hr {
  height: 10px;
  background-color: #3B0561;
}

body {
  background-color: #0B475E;
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 500;
  color: #C8F7C5;
 }


main {
 display: flex;
 justify-content: center;
}

main .homepage-presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify ;
  margin-right: 1rem;
}

article {
  text-align: justify;
}

.list-articles a {
  margin: auto;
  padding: 0.5rem;
  border-radius: 4rem 0.9rem; 
}

.reference-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #CBB1E2;
  max-width: 50%;
  padding: 2rem;
  border: solid;
  border-radius: 15rem 10rem;
  overflow: auto;
}

.reference-card img {
  max-height: 300px;
  max-width: 250px;
  object-fit: cover;
}

.reference-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem;
}
